<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pinger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Pinger.Properties.Settings>
            <setting name="timeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="servers" serializeAs="String">
                <value>{"Google":"8.8.8.8","Level 3":"4.2.2.2","Cloudflare":"1.1.1.1"}</value>
            </setting>
        </Pinger.Properties.Settings>
    </userSettings>
</configuration>